 
.widget-block {
  background: rgba(#00A65A) linear-gradient(to bottom, #00A65A 0%, #00A65A 100%) repeat scroll 0 0;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  box-shadow: 0 1px 0 #f9f9f9 inset;

}

.widget-block .widget-head {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #00A65A 0%, #00A65A 100%) repeat scroll 0 0;
  border-bottom: 1px solid #c2c2c2;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 0 #f9f9f9 inset, 0 0 3px #ddd;
  height: 40px;
  position: relative;
}
.widget-head h5 {
  font-size: 12px;
  margin: 0;
  padding-left: 10px;
  padding-top: 11px;
  text-transform: uppercase;
}
.widget-control {
  border-left: 1px solid #c9c9c9;
  position: absolute;
  right: 0;
  top: 0;
}
.widget-control .btn {
  border: medium none !important;
  border-radius: 0 3px 0 0;
  line-height: 32px;
}
.pull-right {
  float: right;
}
.btn {
  font-size: 17px;
  padding: 4px 10px;
}

.login-header {
  background-color: #0c5889;
  border: 1px solid #357ebd;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
}
.error-msg{
  color: red;
}
.widget-head h5{
  color: #fff;
font-size: 18px;
font-weight: bold;
}
.dropdown-menu > li > a {
  color: #00A65A;
}
.btn-group-vertical > .btn, .btn-group > .btn {
  color: #00A65A;
}
.table > tbody > tr > td {
  padding: 2px 0px 2px 2px;
  }
.panel-success {
  border-color: #00A65A;
}
.box.box-info {
  border-top-color: #00a65a;
}
legend {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: currentcolor currentcolor #000000;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #333;
  display: block;
  font-size: 21px;
  line-height: inherit;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
.form-control {
  border-color: #cdcdcc;
  border-radius: 0;
  box-shadow: none;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  background-color: #3c8dbc;
  color: #fff;
}
.form-control{
  border-color: #4C4C4C;
  border-radius: 0;
  box-shadow: none;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
  border: 1px solid #4C4C4C;
  border-radius: 0;
  height: 34px;
  padding: 6px 12px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #a6a6a6;
}

.text-muted {
  color: #fff;
  font-weight: 800;
  font-size: 23px;
}
.close {
  float: right;
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 1.2;
}
.box-header{
  padding-bottom: 0px;
  padding-top: 0px;
}
.box-body{
  padding-top: 5px;
}

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 3px 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
  border: 2px solid #00A65A;
  font-size: 16px;
  padding: 3px 6px;

}
.form-group {
  margin-bottom: 8px;
}

.input-group-addon {
  padding: 3px 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
  border: 1px solid #4C4C4C;
  border-radius: 0;
  height: 35px;
  padding: 3px 6px;
  font-size: 16px;
}
.select2-container--default .select2-selection--single:focus, .select2-selection .select2-selection--single:focus {
  border: 2px solid #00A65A;
}
.ui-autocomplete-input{
  height: 36px
}
.btn {
  font-size: 17px;
  padding: 1px 10px;
}
input[type="file"] {
    color: #FFFFFF;
    background: #00A65A;
    line-height: 25px
}
.sidebar-menu li{
  font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-weight: 520;
}

 .skin-green .treeview-menu > li.active > a, .skin-green .treeview-menu > li > a{
   font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-weight: 520;
}

.skin-green .treeview-menu > li.active > a, .skin-green .treeview-menu > li > a:hover {
     border-radius:4px;
    background-color: #00A65A;
    color: #d0efe9;
 
}
